name: Various Tests
on:
  push:
    branches:
      - master

jobs:
  show_env:
    runs-on: ubuntu-latest
    env:
      EVENT: ${{ toJSON(github.event) }}
    steps:
      - run: env | sort
      - run: cat $GITHUB_EVENT_PATH
      - name: ctx-github
        env:
          ctx: ${{ toJSON(github) }}
        run: echo "$ctx"
      - name: ctx-job
        env:
          ctx: ${{ tojson(job) }}
        run: echo "$ctx"
      - name: ctx-steps
        env:
          ctx: ${{ tojson(steps) }}
        run: echo "$ctx"

  run_steps_on_failure:
    runs-on: ubuntu-latest
    steps:
      - run: false
      - run: echo "It failed!"
        if: "!success()"
      - run: echo "It's OK."
        if: "success()"

  access_secrets:
    runs-on: ubuntu-latest
    env:
      SECRET_FOO: ${{ secrets.SECRET_FOO }}
    steps:
      - run: |
          echo "The secret is: '$(echo $SECRET_FOO | sed $'s/./&\u200b/g')'."

  put_current_rev:
    runs-on: ubuntu-latest
    if: "!always()"
    steps:
      - run: |
          echo $GITHUB_SHA >revision.txt
          echo "Current revision: $GITHUB_SHA"
      - uses: actions/upload-artifact@v1
        with:
          name: revision-${{ github.sha }}
          path: revision.txt

  get_previous_rev:
    runs-on: ubuntu-latest
    if: "!always()"
    steps:
      - uses: actions/checkout@v1
      - run: |
          PREV_SHA=$(git rev-parse HEAD~)
          echo "Previous revision: $PREV_SHA"
          echo ::set-env name=PREV_SHA::$PREV_SHA
      - uses: actions/download-artifact@v1
        with:
          name: revision-${{ env.PREV_SHA }}
      - run: cat revision.txt
